<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etkinlik Düzenle</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Etkinlik Düzenle</h1>
        
        <form method="post">
            {% csrf_token %}
            <label for="etkinlik_adi">Etkinlik Adı:</label>
            <input type="text" id="etkinlik_adi" name="etkinlik_adi" value="{{ etkinlik.etkinlik_adi }}" required><br>

            <label for="aciklama">Açıklama:</label>
            <textarea id="aciklama" name="aciklama" required>{{ etkinlik.aciklama }}</textarea><br>

            <label for="tarih">Tarih:</label>
            <input type="date" id="tarih" name="tarih" value="{{ etkinlik.tarih }}" required><br>

            <label for="saat">Saat:</label>
            <input type="time" id="saat" name="saat" value="{{ etkinlik.saat }}" required><br>

            <label for="kategori">Kategori:</label>
            <input type="text" id="kategori" name="kategori" value="{{ etkinlik.kategori }}" required><br>

            <label for="konum">Konum:</label>
            <input type="text" id="konum" name="konum" value="{{ etkinlik.konum }}" required><br>

            <label for="konum_latitude">Konum Enlem:</label>
            <input type="number" step="any" id="konum_latitude" name="konum_latitude" value="{{ etkinlik.konum_latitude }}" required><br>

            <label for="konum_longitude">Konum Boylam:</label>
            <input type="number" step="any" id="konum_longitude" name="konum_longitude" value="{{ etkinlik.konum_longitude }}" required><br>

            <label for="sure">Süre (Dakika):</label>
            <input type="number" id="sure" name="sure" value="{{ etkinlik.sure }}" required><br>

            <button type="submit">Kaydet</button>
        </form>
    </div>
</body>
</html>
